.leaderboard-container {
    /* height: 50dvh; */
    /* display: flex; */
    /* display: flex;
    flex-direction: column;
    min-height: min-content; */
    overflow-y: auto;
    /* overflow-y: auto; */
    /* border: 1px solid black; */
}

.major-stats {
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem 0.5rem 0.5rem 0rem; */
    width: 10rem;
    font: bold 'Quicksand', sans-serif;
}

.highlight {
    font-weight: bold;
    color: #5bcbf5;
}

.leaderboard-subheader {
    display: flex;
    flex-direction: row;
    padding: 0rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
    align-items: stretch;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.selector-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
    width: 30%;
}

.leaderboard-select {
    padding: 0.0rem;
    margin-right: 0.5rem;
}

.leaderboard-select select {
    display: none;
}

.leaderboard-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    gap: 0.2rem;
}

.leaderboard-username {
    width: 7rem;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: 1px solid blue; */
}
.progress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: row;
}

.progress-total {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
}

.pr {
    padding: 0.0rem 0.5rem;
}

.progress-fill {
    width: 0%;
    height: 100%;
    background-color: #009579;
}

.progress-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    color: white;
    font: bold 14px 'Quicksand', sans-serif;
}

.left {
    left: 5px;
}